<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('head',{}); %>
    <title>Document</title>
</head>

<body>
  <%- include('daohang',{}); %>
    <div style=" text-align: center;margin: 80px 80px;">
      <table class="layui-table" lay-skin="line">
        <colgroup>
          <col width="150">
          <col width="200">
          <col width="650">
          <col>
        </colgroup>
        <thead>
          <tr style="height: 50px;">
            <th>昵称</th>
            <th>加入时间</th>
            <th>签名</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <a href="/xiangqing">贤心</a>
            </td>
            <td>
              <a href="/xiangqing">2016-11-29</a>
            </td>
            <td>
              <a href="/xiangqing">人生就像是一场修行</a>
            </td>
            <td>
              <a href="#">
                <i class="layui-icon layui-icon-edit"></i>
                修改
              </a>
              <a href="#">
                <i class="layui-icon layui-icon-delete"></i>
                删除
              </a>
            </td>
          </tr>
          <tr>
            <td>许闲心</td>
            <td>2016-11-28</td>
            <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…</td>
            <td>
              <a href="#">
                <i class="layui-icon layui-icon-edit"></i>
                修改
              </a>
              <a href="#">
                <i class="layui-icon layui-icon-delete"></i>
                删除
              </a>
            </td>
          </tr>
          <tr>
            <td>sentsin</td>
            <td>2016-11-27</td>
            <td> Life is either a daring adventure or nothing.</td>
            <td>
              <a href="#">
                <i class="layui-icon layui-icon-edit"></i>
                修改
              </a>
              <a href="#">
                <i class="layui-icon layui-icon-delete"></i>
                删除
              </a>
            </td>
          </tr>
          </tr>
        </tbody>
      </table>
      <div style="float: right;">
        <span class="layui-badge layui-bg-cyan"><a href="/fenye">1</a></span>
        <span class="layui-badge layui-bg-cyan"><a href="/fenye">2</a></span>
        <span class="layui-badge layui-bg-cyan">3</span>
        <span class="layui-badge layui-bg-cyan">4</span>
        <span class="layui-badge layui-bg-cyan">5</span>
        <span class="layui-badge layui-bg-cyan">6</span>
      </div>
    </div>
</body>

</html>