<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('head',{}); %>
    <title>Document</title>
</head>

<body>
  <div style="margin: -50px 0px;">
    <ul class="layui-nav ">
      <i class="layui-icon layui-icon-face-smile-b"
        style="font-size: 30px; color: white;display: inline;vertical-align:middle"></i>
      <li class="layui-nav-item"><a href="fenye.ejs">首页</a></li>
      <li class="layui-nav-item "><a href="xiangqing.ejs">写文章</a></li>
      <li class="layui-nav-item layui-this"><a href="write.ejs">内容</a></li>
      <li class="layui-nav-item" style="float: right;">
        <a href="javascript:;"><img src="//t.cn/RCzsdCq" class="layui-nav-img">我</a>
      </li>
      <li class="layui-nav-item" style="float: right;">
        <a href="javascript:;">退出</a>
      </li>
    </ul>
  </div>
  <div class="layui-card" style=" text-align: center;margin: 120px 80px;">
    <div class="layui-colla-content layui-show" style="text-align: left;">
      <h1>重生之郑爽是我老婆</h1>
      <h6>作者：晋江</h6>
      内容简介：21世纪的一天，郑小恩因为抑郁症自杀，哪知，一抬头便又是一天。。。
    </div>
  </div>
</body>

</html>