<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head',{}); %>
    <title>Document</title>
</head>
<body>
    <div class="layui-card">
        <div class="layui-card-header"><h1>卡片面板</h1></div>
        <div class="layui-card-body">
          卡片式面板面板通常用于非白色背景色的主体内<br>
          从而映衬出边框投影
        </div>
      </div>
</body>
</html>